body {
  background-color: black;
  text-align: center;
}

h1 {
  color: gray;
}

.circle {
  width: 200px;
  height: 200px;
  display: inline-block;
  cursor: pointer;
}

.circle:hover {
  box-shadow: inset 0px 0px 0px 2px white;
  box-sizing: border-box;
}

.top-left {
  border-top-left-radius: 100%;
  background-color: green;
}

.top-right {
  border-top-right-radius: 100%;
  background-color: red;
}

.bottom-right {
  border-bottom-right-radius: 100%;
  background-color: blue;
}

.bottom-left {
  border-bottom-left-radius: 100%;
  background-color: yellow;
}

.select {
  background-color: white;
}

.center {
  display: inline-block;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: black;
  top: 175px;
  left: 335px;
}
